div.MaskedDiv
{
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: verdana;
	font-weight: bold;
	padding: 40px;
	z-index: 100;
	background-image: url(gray.png); /* ieWin only stuff */
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src= 'gray.png' );
}


div.ModalPopup
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	background-color: #CCCCCC;
	position: absolute; /* set z-index higher than possible */
	z-index: 10000;
	visibility: hidden;
	color: Black;
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
	width: 650px;
	height: auto;
}
.style1
{
	width: 55%;
}
.style2
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: small;
}
.style3
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	text-align: left;
}
